.container{
    width: 600px;
    height: 600px;
    background-color: deepskyblue;
    position: relative;
}
.main{
    width: 800px;
    height: 500px;
    position: absolute;
    top:0px;
    bottom: 0px;
    margin: auto;
}
.row{
    width: 600px;
    height: 50px;
    border-bottom: 1px solid deepskyblue;
    position: relative;
    line-height: 50px;
}
.header{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.title{
    width: 100px;
    line-height: 50px;
    text-align: center;
    float: left;
}
.right{
    width: 400px;
    line-height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.info{
    width: 600px;
    height: 150px;
    border-bottom: 1px solid deepskyblue;
    text-align: center;
}
.info-title{
    width: 600px;
    line-height: 50px;
}
#info{
    width: 500px;
    height: 100px;
    overflow-y: auto;
}
#pic{
    line-height: 50px;
}

.btn{
    text-align: center;
}

