.container{
    width: 198px;
    height: auto;
    text-align: center;
    border: 1px solid black;
    line-height: 30px;
    font-size: 12px;
}
.top{
    background-color: deepskyblue;
    font-size: 20px;
    font-weight: bold;
}
.content{
    position: relative;
}
.content span{
    display: inline-block;
    width: 30%;
    text-align: right;
}
.content input{
    width: 68%;
}