body{
    height: 100%;
}
.container{
    margin: 0 auto;
    width: 300px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
.top{
    background-color: deepskyblue;
}
.content{
    position: relative;
    /*line-height: 25px;*/
}
.content .left{
    display: inline-block;
    width: 105px;
    text-align: right;
    float: left;
}
.content .right{
    float: left;
}
.content .right input{
    width: 150px;
    margin-top: 5px;
}
